.header {
  --pad-top-header: 30px;
  --pad-right-header: 0;
  --pad-bottom-header: 30px;
  --pad-left-header: 64px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding: var(--pad-top-header) var(--pad-right-header) var(--pad-bottom-header) var(--pad-left-header);
  background-color: var(--clr-ntrl-lt);
  box-sizing: border-box;
}

.header__logo {
  position: absolute;
  top: var(--pad-top-header);
  left: var(--pad-left-header);
  z-index: var(--foreground);
}

.header__title {
  margin: 0;
  width: 730px;
  line-height: 96px;
  font-size: var(--fs-xxl);
  font-weight: 600;
  z-index: var(--middle);
}

.header__subtitle {
  position: absolute;
  left: var(--pad-left-header);
  bottom: var(--pad-bottom-header);
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: var(--fs-s);
  z-index: var(--middle);
}

.header__link {
  color: var(--clr-brand-1);
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  z-index: var(--background);
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: var(--clr-brand-1);
  z-index: var(--background);
}
