.feynman {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  min-height: 890px;
  flex-direction: column;
  align-items: center;
  background: var(--clr-ntrl-lt);
}

.feynman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: var(--fs-xxxl);
  font-weight: 600;
  text-align: center;
  z-index: var(--middle);
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: var(--fs-l);
  font-weight: normal;
  z-index: var(--middle);
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  color: var(--clr-brand-1);
  font-size: var(--fs-l);
  font-weight: normal;
  text-decoration: none;
  z-index: var(--middle);
}

.feynman__main-illustration {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: var(--background);
}
