.resources__logo_resource_arzamas {
  background-image: url("../../../../images/logo/resources-arzamas.svg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}
