.resources__logo_resource_polka {
  background-image: url("../../../../images/logo/resources-polka.svg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}
