.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 40px 0;
  min-height: 350px;
  background-color: var(--clr-ntrl-dk);
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  width: 90%;
}

.footer__column {
}

.footer__author {
  margin: 18px 0;
  color: var(--clr-ntrl-ltr);
  font-size: var(--fs-s);
  line-height: 25px;
}

.footer__column-heading {
  margin: 0;
  color: var(--clr-ntrl-ltr);
  font-size: var(--fs-s);
  font-weight: 600;
  line-height: 30px;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--clr-ntrl-ltr);
  font-size: var(--fs-s);
  font-weight: normal;
  line-height: 30px;
}
