:root {
  /* цвета */
  --clr-ntrl-ltr: #ffffff;
  --clr-ntrl-lt: #f2f2f2;
  --clr-ntrl-dk: #1f1f1f;
  --clr-ntrl-dkr: #000000;
  --clr-brand-1: #2f80ed;

  /* размеры шрифта */
  --fs-giga: 102px;
  --fs-mega: 60px;
  --fs-kilo: 48px;
  --fs-hecto: 36px;
  --fs-deka: 24px;
  --fs-base: 18px;

  /* уровни */
  --foreground: 5;
  --middle: 3;
  --background: 1;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
